<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

	<bean name="employee" class="com.app.Employee">
	<constructor-arg value="111" type="int"/>
	<constructor-arg value="Rahul"/>
	<constructor-arg value="3434342.78f" type="float"/>
	<constructor-arg ref="date"/>
	</bean>    
	
	<bean name= "date" class="com.app.Date">
	<property name="dd" value="23"/>
	<property name="mm" value="05"/>
	<property name="yy" value="2025"/>
	
	</bean>
</beans>